@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 9 9 11;
}

.dark {
  --background: 0 0 0;
  --foreground: 250 250 250;
}

@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: var(--font-sans);
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}
